import os
from ansible_ai_connect.main.settings.production import *

ANSIBLE_WISDOM_DOMAIN = '*'
DEPLOYMENT_MODE = 'onprem'

CHAT_RATE_THROTTLE='{{ lightspeed_chat_rate_throttle | default("10/minute") }}'

ANSIBLE_AI_PROJECT_NAME="Red Hat Ansible Lightspeed with IBM watsonx Code Assistant"
COMMERCIAL_DOCUMENTATION_URL="https://access.redhat.com/documentation/en-us/red_hat_ansible_lightspeed_with_ibm_watsonx_code_assistant/2.x_latest/html/red_hat_ansible_lightspeed_with_ibm_watsonx_code_assistant_user_guide/index"

ENABLE_HEALTHCHECK_CHATBOT_SERVICE = False

ENABLE_HEALTHCHECK_AUTHORIZATION = False
ENABLE_HEALTHCHECK_SECRET_MANAGER = False
ENABLE_HEALTHCHECK_ATTRIBUTION = False
ENABLE_ANSIBLE_LINT_POSTPROCESS = True
ENABLE_HEALTHCHECK_ATTRIBUTION = False
ENABLE_HEALTHCHECK_AUTHORIZATION = False
ENABLE_HEALTHCHECK_SECRET_MANAGER = False

DEPLOYED_REGION = ''

ALLOW_METRICS_FOR_ANONYMOUS_USERS = False
ANSIBLE_AI_ENABLE_ROLE_GEN_ENDPOINT = True
ANSIBLE_AI_ENABLE_TECH_PREVIEW = False
ENABLE_ADDITIONAL_CONTEXT = False

ALLOWED_HOSTS = ['*']

ANSIBLE_BASE_JWT_KEY = '{{ hostvars[groups["automationgateway"][0]]["_gateway_proxy_url"] }}'
ANSIBLE_BASE_JWT_VALIDATE_CERT = True

ANSIBLE_BASE_MANAGED_ROLE_REGISTRY = {'platform_auditor': {'name': 'Platform Auditor', 'shortname': 'sys_auditor'}}
RESOURCE_SERVER__URL = '{{ hostvars[groups["automationgateway"][0]]["_gateway_proxy_url"] }}'
RESOURCE_SERVER__VALIDATE_HTTPS = True

{% if lightspeed_wca_model_url is defined %}
ANSIBLE_AI_MODEL_MESH_API_TYPE = 'wca'
{% else %}
WCA_SECRET_BACKEND_TYPE: 'dummy'
{% endif %}

{% if lightspeed_chatbot_model_url is defined %}
CHATBOT_DEFAULT_PROVIDER = '{{ lightspeed_chatbot_default_provider }}'
{% endif %}

AAP_API_URL = '{{ hostvars[groups["automationgateway"][0]]["_gateway_proxy_url"] }}'
SOCIAL_AUTH_VERIFY_SSL = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ lightspeed_pg_database }}',
        'USER': '{{ lightspeed_pg_username }}',
{% if not lightspeed_pg_cert_auth | bool %}
        'PASSWORD': os.environ.get("ANSIBLE_AI_DATABASE_PASSWORD"),
{% endif %}
        'HOST': '{{ lightspeed_pg_socket | default(lightspeed_pg_host) }}',
        'PORT': '{{ lightspeed_pg_port }}',
        'OPTIONS': {
            'options': '-c datestyle=ISO,\\ MDY',
            'sslmode': '{{ lightspeed_pg_sslmode }}',
            'sslrootcert': '{{ ca_trust_bundle }}',
{% if lightspeed_pg_cert_auth | bool %}
            'sslcert': '/etc/ansible-automation-platform/lightspeed/postgresql.cert',
            'sslkey': '/etc/ansible-automation-platform/lightspeed/postgresql.key',
{% endif %}
        },
    }
}

{% for item in lightspeed_extra_settings %}
{% if item.value is string %}
{{ item.setting }} = '{{ item.value }}'
{% else %}
{{ item.setting }} = {{ item.value }}
{% endif %}
{% endfor %}

{% if feature_flags is defined %}
{% for flag_name, flag_value in feature_flags.items() %}
{{ flag_name | upper }} = {{ flag_value | bool }}
{% endfor %}
{% endif %}
